@font-face {
    font-family: 'Acrom-regular';
    src: url('../fonts/acrom400.woff2') format('woff2');
}

@font-face {
    font-family: 'Acrom-medium';
    src: url('../fonts/acrom600.woff2') format('woff2');
}

@font-face {
    font-family: 'Acrom-bold';
    src: url('../fonts/acrom800.woff2');
}

@font-face {
    font-family: 'Acrom-ex';
    src: url('../fonts/acrom900.woff2') format('woff2');
}