.programm-course {
  padding-top: 134px;
}

.header__programm-course {
  line-height: 1.17;
  background-color: #000000;
  @include font-mixin("Acrom-ex", 58px, #ffffff);
  position: relative;
  &::before {
    position: absolute;
    content: "programm";
    @include font-mixin("Acrom-ex", 183px, #000000);
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.05);
      transform: rotate(90deg);
      top: 200%;
      right: -83%;
  }
}

.programm-list {
  padding-top: 63px;
  counter-reset: order;
}

.item__title {
  text-transform: uppercase;
  display: inline;
  @include font-mixin("Acrom-ex", 12.5px, #ffffff);
  background-color: #000000; 
}

.item__sub-title {   
  white-space: pre-line;
  text-transform: uppercase; 
  display: block;
  letter-spacing: -0.7px;  
  padding-bottom: 22px;  
  @include font-mixin("Acrom-ex", 12.5px, #000000);
}


.programm-list__item {
  padding-left: 65px;
  padding-right: 16px;
  padding-bottom: 24px;
  @include size(4);  
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    counter-increment: order;
    content: ""counter(order)".";
    line-height: 0.75;
    @include font-mixin("Acrom-ex", 38px, #000000);
    top: 0;
    left: -10px;    
  }
  &:nth-child(-n+9)::before {
    content: "0" counter(order)".";
  }
}

.unit-list {
  @include font-mixin("Acrom-regular", 10.5px, $dark-grey);
}

.unit-list__item {
  padding-left: 17px;
  position: relative;
  margin-bottom: 9px;
  &::before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    background-color: $orange;
    left: 0;
    top: 3px;
  }
  &:last-child() {
    margin-bottom: 0;
  }
}
