%margin-center {
  width: 1110px;
  margin: 0 auto;
}
%h1 {
  font-family: 'Roboto Black', sans-serif;
  font-size: 60px;
  color: #fff;
}
%tips {
  font-family: 'Roboto Light', sans-serif;
  font-size: 24px;
  color: #fff;
}
%h2 {
  @extend %margin-center;
  position: relative;
  font-family: "Roboto Black";
  font-size: 48px;
  color: $h2;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    top: 67px;
    right: 470px;
    height: 7px;
    width: 164px;
    background-color: $underline;
  }
}
%item-block {
  display: inline-block;
  max-width: 255px;
  height: 321px;
  margin-right: 26px;
  &:last-child {
    margin-right: 0;
  }
}
%img {
  width: 255px;
  height: 281px;
  position: relative;
}
%name-item {
  float: left;
  display: inline-block;
  padding: 14px;
  width: 200px;
  background-color: $name-item;
  font-family: "Roboto Black", sans-serif;
  color: #fff;
}
%price-item {
  float: right;
  display: inline-block;
  width: 55px;
  padding: 14px;
  background: $price-item;
  font-family: "Roboto Black", sans-serif;
  color: #fff;
}
%footer {
  margin-top: 100px;
  background-color: $footer;
  text-align: center;
  color: $footer-text;
  padding: 35px;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
}
