.item-section {
  @extend %margin-center;
  margin-top: 120px;
  .item-block {
    @extend %item-block;

    .img {
      @extend %img;
    }

    &::before {
      display: none;
      position: absolute;
      content: "";
      background-color: rgb(0, 0, 0);
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0.5;
      z-index: -1;
    }

    .item-option-hover {
      position: absolute;
      display: none;
      width: 235px;
      height: 261px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;     
    }
      

      .like,
      .random,
      .time {
        margin-top: 50%;
        transform: translateY(-100%);
        display: inline-block;
        line-height: 1.65;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        margin-right: 5px;
        font-size: 30px;
        font-family: "Pe icon 7 stroke";
        &:hover {
          border-color: $active-focus;
          background-color: $active-focus;
        }
      }
      .time {
        margin-right: 0px;
      }
      .add-to-cart {
        display: inline-block;
        text-align: center;
        width: 168px;
        height: 50px;
        margin-top: 7px;
        border: 1px solid #fff;
        font-size: 30px;
        font-family: "Pe icon 7 stroke";
        line-height: 1.65;
        span {
          color: #fff;
          font-family: "Open Sans Regular", sans-serif;
          font-size: 14px;
          vertical-align: super;
        }
        &:hover {
          border-color: $active-focus;
          background-color: $active-focus;
        }
      }
    
  }
  &:hover ::before {
    display: block;
  }
  &:hover .item-option-hover {
    display: inline-block;
  }
  .name-item {
    @extend %name-item;
  }
  .price-item {
    @extend %price-item;
  }
}
