%main-header {
  margin-bottom: 128px;
}

%logo {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  color: $main-header-color;
}

%main-nav {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  :first-child {
    color: $active-header-link;
  }
  a {
    color: $main-header-color;
    margin-right: 57px;
  }
  &:last-child {
    margin-right: 0;
  }
}

%h3 {
  font-family: "KaushanScript-Regular", sans-serif;
  font-size: 24px;
  color: $h-color;
}

%h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  color: $h-color;
  text-transform: uppercase;
}

%h4 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: $h-color;
}

%p-style {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  color: $figcaption;
}

