.come-from {
  padding-top: 38px;
  padding-bottom: 91px;
  .item {
    @include size-sm(1);
    @include size-lg(1);
  }
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media (min-width: 1920px) {
    padding-top: 155px;
    padding-bottom: 162px;
    .container {
      max-width: 1147px;
    }
  }
}
.come-from .row {
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row wrap;
  }
  @media (min-width: 1920px) {
    overflow: visible;
  }
}
.header-block {
  text-align: center;
  &__h2 {
    margin: 0 auto;
    width: 220px;
    line-height: 1.2;
    @include font-mixin("Museo_900", 25px, $header-color);
    text-transform: uppercase;
    &--underline {
      color: $main-blue;
    }
    @media (min-width: 768px) {
      margin: 0;
      font-size: 30px;
      width: auto;
    }
    @media (min-width: 1920px) {
      font-size: 42px;
      width: 435px;
    }
  }
  @media (min-width: 768px) {
    text-align: left;
    font-size: 30px;
  }
  @media (min-width: 1920px) {
    max-width: 435px;
  }
}

.come-from-age {
  padding-top: 40px;
  padding-bottom: 60px;
  width: 260px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  @include font-mixin("Museo_900", 14px, $header-color);
  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    background-color: $header-color;
    left: 20%;
    top: 10px;
  }
  @media (min-width: 768px) {
    text-align: right;
    padding: 25px 0 0 100px;
    width: auto;
    margin-bottom: 50px;
    &::before {
      position: absolute;
      content: "";
      top: 48.3px;
      width: 100%;
      left: 0;
    }
  }
  @media (min-width: 1920px) {
    font-size: 18px;
    width: 300px;
    &::before {
      top: 50.5px;
    }
  }
}

.come-from-age--blue {
  @include font-mixin("ProximaNova_ExB", 14px, $main-blue);
  @media (min-width: 768px) {
    background-color: $header-color;
  }
  @media (min-width: 1920px) {
    padding-top: 3px;
    font-size: 18px;
  }
}

.article {
  max-width: 330px;
  position: relative;
  &__title {
    padding-left: 36px;
    @include font-mixin("Ubuntu-mono_B", 18px, $header-color);
    @media (min-width: 1920px) {
      font-size: 30px;
      padding-left: 0;
    }
  }
  &__info {
    text-align: left;
    padding: 35px 0;
    line-height: 1.7;
    @include font-mixin("Open Sans", 14px, #000000);
    @media (min-width: 1920px) {
      font-size: 18px;
      padding-top: 22px;
      padding-bottom: 78px;
    }
  }
  @media (min-width: 1920px) {
    max-width: 435px;
  }
}

.a-1 {
 
  .article__title::before {
    position: absolute;
    content: url("../img/come-from/a-1.png");
    top: -10px;
    left: -4px;
    @media (min-width: 1920px) {
      left: -77px;
      top: -17px;
      content: url("../img/come-from/a-1-lg.png");
    }
  }

  .article__info {
    span {
      @include font-mixin("OpenSans_ExB", 14px, #000000);
      text-decoration: underline $main-blue;
    }
  }
  @media (min-width: 768px) {
    margin-top: 70px;
  }
}

.a-2 {
  .article__title::before {
    position: absolute;
    content: url("../img/come-from/a-2.png");
    top: -10px;
    left: -4px;
    @media (min-width: 1920px) {
      left: -77px;
      content: url("../img/come-from/a-2-lg.png");
    }
  }
}

.a-3 {
  .article__title::before {
    position: absolute;
    content: url("../img/come-from/a-3.png");
    top: -7px;
    left: -4px;
    @media (min-width: 1920px) {
      left: -77px;
      content: url("../img/come-from/a-3-lg.png");
    }
  }
}

.a-4 {
  .article__title::before {
    position: absolute;
    content: url("../img/come-from/a-4.png");
    top: -5px;
    left: -4px;
    @media (min-width: 1920px) {
      left: -110px;
      content: url("../img/come-from/a-4-lg.png");
    }
  }
}

.a-5 {
  .article__title::before {
    position: absolute;
    content: url("../img/come-from/a-5.png");
    top: -10px;
    left: -4px;
    @media (min-width: 1920px) {
      left: -77px;
      content: url("../img/come-from/a-5-lg.png");
    }
  }
}
