.fullstack-create {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: $rosesmoke;
  .row {
    justify-content: center;
    overflow: unset;
    @media (min-width: 768px) {
      justify-content: space-between;
    }
  }
  @media (min-width: 768px) {   
    position: relative;
    padding-bottom: 0;
    background-color: none;
    background:  url('../img/fullstack-create/bg-fs-768.png'), url('../img/fullstack-create/block-bg-blue.png');
    background-repeat: no-repeat;
    background-position: center, bottom 150px;
  }
}

.main-header-fs {
  width: 100%;
  @media (min-width: 768px) {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-color: $whitesmoke;
      width: 720px;
      height: 490px; 
      top: -100px;
      left: -15px;
    }
  }
}

.fs-header-block {
  @media (min-width: 768px) {
    margin-right: auto;
  }
}




.fullstack-header {
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 280px;
  @include font-mixin("Museo_900", 25px, $header-color);
  span {
    color: $main-blue;
  }
  position: relative;
  @media (min-width: 768px) {
    text-align: left;
    width: 350px;
    margin: 0;
    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 2px;
      background-color: $main-blue;
      top: -25px;
      left: 0;
    }
  }
}

.sub-title {
  text-align: justify;
  text-transform: uppercase;
  width: 220px;
  margin: 25px auto 32px;
  @include font-mixin("Museo_900", 14px, $header-color);
  span {
    font-family: "ProximaNova_ExB";
    color: $main-blue;
  }
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    background-color: $header-color;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    text-align: right;
    margin-left: 0;
    margin-right: 30px;
    width: 250px;
    &::before {
      top: 14px;
      width: 275px;
      left: -15px;
      margin: 0;
    }
    span {
      background-color: $header-color;
      color: $main-blue;
      padding: 3px;
    }
  }
}

.task-developer {
  position: relative;
  width: 100%;
  padding: 8px 80px;
  text-align: center;
  border: 2px solid $main-blue;
  @include font-mixin("OpenSans_ExB", 14px, $dark);
  span {
    color: $main-blue;
  }
  @media (min-width: 768px) {
    border: none;
    width: 170px;
    text-align: left;
    padding: 0;
    transform: rotate(90deg);
    top: -110px;
    margin-right: 35px;
  }
}

.fe-block {
  @include size-sm(1);
  position: relative;
  z-index: 3;
}

.fs-header {
  margin-top: 55px;
  @include font-mixin("Ubuntu-mono_B", 18px, $header-color);
  @include size(1);
  text-align: right;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 135px;
    background-color: $header-color;
    bottom: 5px;
    width: 100%;
    display: block;
    margin-left: 100%;
  }
  @media (min-width: 768px) {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    &::before {
      width: 135px;
      margin-left: 125px;
      left: 0;
    }
  }
}

.go-full-stack {
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
}

.fs-info {
  padding-bottom: 16px;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  @include font-mixin("Museo_900", 16px, $header-color);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 2px;
    background-color: $main-blue;
  }
  @media (min-width: 768px) {
    font-size: 18px;
    &::before {
      width: 105px;
      height: 3px;
    }
  }
}

.fs-info__sub-info {
  @include font-mixin("OpenSans_SmB", 14px, $header-color);
  text-align: center;
  padding-top: 25px;
  line-height: 1.75;
  width: 79%;
  margin: auto;
  span {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
  }
  @media (min-width: 768px) {
    width: 90%;
  }
}

.be-block {
  padding-bottom: 65px;
  @include size-sm(1);
  @media (min-width: 768px) {
    position: relative;
    top: -148px;
    z-index: 3;
  }
}

.start-learning {
  padding-top: 32px;
  padding-bottom: 106px;
  position: relative;
  width: 100%;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    height: 3px;
    background-color: $header-color;
  }
  @media (min-width: 768px) {
    text-align: center;
    position: relative;
    top: -150px;
    &::before {
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      z-index: 3;
    }
    &::after {
      position: absolute;
      content: '';
      background-color: $whitesmoke;
      width: 720px;
      height: 650px; 
      top: -400px;
      left: -15px;
      z-index: 2;
    }
    
  }
}
.kwnolege {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: -2px;
  position: relative;
  z-index: 10;
  @include font-mixin("Ubuntu-mono_B", 16px, $header-color);
  span {
    background-color: $main-blue;
    padding: 6px 4px;
  }
}

.kwnolege-list {
  margin-top: 25px;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 10;
  @include font-mixin("Ubuntu-mono_B", 16px, $header-color);
}

.click-start {
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  @include font-mixin("Museo_900", 14px, #ffffff);
  padding: 23px 36px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    to right,
    rgb(255, 198, 23) 0%,
    rgb(251, 7, 64) 100%
  );
  box-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
  position: relative;
  z-index: 10;
  @media (min-width: 768px) {
    width: 300px;
  }
}
