body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1759px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.flex {
  display: flex;
}

@font-face {
  font-family: 'Museo_300';
  src: url("../fonts/museosanscyrl_300.woff2") format("woff2");
}

@font-face {
  font-family: 'Museo_900';
  src: url("../fonts/museosanscyrl_900.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans_ExB';
  src: url("../fonts/opensans-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans_SmB';
  src: url("../fonts/opensans-semibold.woff2") format("woff2");
}

@font-face {
  font-family: 'ProximaNova_ExB';
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNova_R';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Ubuntu-mono_B';
  src: url("../fonts/ubuntumono-bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Ubuntu-mono_R';
  src: url("../fonts/ubuntumono-regular.woff2") format("woff2");
}

.main-header {
  background-color: #2b2a2f;
  padding-top: 31px;
  padding-bottom: 68px;
}

.top-panel {
  justify-content: space-between;
  padding-bottom: 57px;
}

.logo {
  background: url("../img/header/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100px;
  height: 29px;
}

.contact-info__tel {
  font-family: "Ubuntu-mono_B";
  font-size: 14px;
  color: #00bcd4;
  position: relative;
}

.contact-info__tel::before {
  position: absolute;
  content: "";
  background-color: #00bcd4;
  top: calc(100% + 4px);
  width: 135px;
  height: 1px;
}

.contact-info__age {
  padding-top: 13px;
  font-family: "ProximaNova_R";
  font-size: 13px;
  color: #c7c7c7;
}

.contact-info__age--age-color {
  font-family: "ProximaNova_ExB";
  font-size: 13px;
  color: #ffffff;
}

.info-start {
  margin: 27px auto 0;
  padding: 10px 12px;
  border: 1px solid #00bcd4;
  text-transform: uppercase;
  font-family: "Museo_900";
  font-size: 14px;
  color: #ffffff;
}

.info-start__date {
  color: #00bcd4;
}

.main-info {
  text-align: center;
}

.main-info p:nth-child(1) {
  margin: 0 auto;
  font-family: "Ubuntu-mono_B";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1.8px;
  width: 255px;
  max-width: 100%;
}

.main-info p:nth-child(2) {
  font-family: "ProximaNova_R";
  font-size: 16px;
  color: #c4c4c4;
  position: relative;
}

.main-info p:nth-child(2)::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  top: calc(100% + 19px);
  left: 68px;
  background-color: #00bcd4;
}

.header-h1 {
  padding-top: 40px;
  padding-bottom: 45px;
  font-family: "Museo_900";
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-h1__full-stack {
  color: #00bcd4;
}

.main-info p:nth-child(4) {
  font-family: "Museo_300";
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 215px;
  text-align: justify;
  padding-bottom: 17px;
}

.main-info p:nth-child(4) .junior-full-stack {
  font-family: "Museo_900", "ProximaNova_R";
}

.main-info p:nth-child(5) {
  font-family: "Ubuntu-mono_B";
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 225px;
}

.main-info p:nth-child(5) .precent {
  font-size: 18px;
  color: #00bcd4;
}
/*# sourceMappingURL=styles.css.map */